<meta charset="UTF-8"/>
<meta content="IE=edge" http-equiv="X-UA-Compatible"/>
<meta content="width=device-width, initial-scale=1.0" name="viewport"/>
<title>Eatwell - Make The World A Tastier Place</title>
<link href="https://fonts.gstatic.com" rel="preconnect"/>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&family=Roboto:wght@400;700&display=swap"
      rel="stylesheet"/>
<link href="styles/shared.css" rel="stylesheet"/>
<link href="styles/<%= customStyle %>.css" rel="stylesheet"/>
<script defer src="scripts/responsive.js"></script>
<body>
